.paged a
{
	padding: 2px 4px;
	margin-right: 4px;
	border: 1px solid #ccc;
	text-decoration: none;
}
.paged a:link
{
	color: #0042d1;
}
.paged .current
{
	padding: 2px 4px;
	margin-right: 4px;
	font-weight: bold;
	background: #006699;
	color: White;
}
