<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--程序配置-->
    
    <!--分布式缓存服务器地址及端口号-->
    <add key="MemcachedServers" value="127.0.0.1:11211"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=.\sql2008;database=book_shop;uid=sa;pwd=spring;"/>
  </connectionStrings>
  <system.web>
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <identity impersonate="true"/>
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpModules>
      <!--登录状态判断过滤器-->
      <!--<add name="LimitCheck" type="BookShop.Web.Common.CheckLoginModule" />-->
    </httpModules>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HelloSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WeatherWebServiceSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="WeatherWebServiceSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:27009/Hello.asmx" binding="basicHttpBinding"
        bindingConfiguration="HelloSoap" contract="HelloWorld.HelloSoap"
        name="HelloSoap" />
      <endpoint address="http://www.webxml.com.cn/WebServices/WeatherWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WeatherWebServiceSoap"
        contract="WeatherService.WeatherWebServiceSoap" name="WeatherWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>